/*** Polices ***/

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Merienda+One&display=swap');

/*** Variables ***/

:root{
    /*** Couleurs***/
    --noir : #000000;
    --orange : #FF8A00;
    --footer : #131313;
    --blanc : white;
    --orange2 : #d37800ad;
        /*** Polices***/
    --Police-corp : 'Cabin', sans-serif;
    --police-titre : 'Merienda One', cursive;
}

/*** Bases ***/

html, body {
    font-family: var(--Police-corp);
    font-size: 16px;
    font-weight: 400;
    background-color : var(--noir);
    margin: 0;
    padding: 0;
    color: var(--blanc)
}

h1,h2,h3 {
    font-family: var(--police-titre);
}

/*** Header ***/

h1{
    color: var(--orange);
    font-size: 5rem;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 2rem;
    display: inline-block;
    padding-left: 15%;
}


header section{
display: block;
height: 10rem;
padding-bottom: 2rem;
}

.anim {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-size: 1.8rem;
    font-family: var(--police-titre);
    padding-left: 1rem;
  }

.dev {
    padding-left: 15%;
  }
  
.anim:first-of-type {
    animation: showup 7s infinite;
  }
  
.anim:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
.anim div:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
header  p {
    font-size: 2rem;
    color : var(--blanc);
    margin-top:1rem;
  }

header img{
    height: 10rem;
    float: left;
    margin-left: 10rem;
}

header ul{
    list-style-type: none;
    margin: 0;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
    align-items: center;
    background-color: var(--orange);
    padding: 0.8rem;
    height: 1.8rem;
}

header ul li a{
    text-decoration: none;
    color: var(--blanc);
    font-family: var(--police-titre);
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

header ul li a:hover{
    background-color: var(--orange2);
    color: var(--noir);
}

.active{
    background-color: var(--footer) ;
    color: var(--orange);
}

.logo{
    float: right;
}

/*** Footer***/

footer{
    padding-left: 1.5rem;
    padding-right: 4rem;
    background-color: var(--footer);
}

footer a {
    text-decoration: none;
    color: var(--blanc);
}

.mention{
    display: block;
    width: 30%;
    text-align: left;
}

.mail{
    width: 30%;
    text-align: right;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 0%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*** Accueil ***/

.accueil{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.accueil img{
    object-fit: scale-down;
}

.texte{
width: 100%;
margin-left: 4rem;
font-size: 1.5rem;
text-align: justify;
}

h3{
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.texte hr{
    margin-bottom: 2rem;
    border: 0px transparent;
}

/*** Formations ***/

#formation{
    max-width: 40%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#formation img{
    object-fit: scale-down;
    max-width: 100%;
}

.form{
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
}

.form div{
    width: 40%;
}

.form div hr{
    width: 75%;
    border-color: var(--orange);
}

.form ul{
    list-style-type: none;
}

.form ul li:before{
    content: "\2022";
    margin-right: 10px;
    color: var(--orange);
    font-size: 1.5rem;
}

/*** Qui sommes nous ***/

.qui{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/Images/clonage-adn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    padding: 2rem 15rem;
    margin: 0;
}

.qui hr{
    border: 0px transparent;
}

/*** Ils nous font confiance ***/

.confiance img{
    float: right;
    width: 90%;
}

.confiance hr{
    margin-bottom: 2rem;
    border: 0px transparent;
}

.confiance{
    font-size: 1.5rem;
    padding: 4rem;
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.confiance div{
    width: 60%;
}

#texte{
    width: 40%;
}

.confiance ul li:before{
    content: "\2022";
    margin-right: 10px;
    color: var(--orange);
    font-size: 1.5rem;
}

.confiance ul{
    list-style-type: none;
}

/*** contact ***/

.formulaire{
    width: 20rem;
    margin-left: 4rem;
    padding-bottom: 5rem;
    margin-top: 4rem;
    transition: 0.5s ease-in-out;
}

.text, .message{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.35rem;
    padding: 0.5rem;
    background-color: rgb(224, 224, 224);
    border: 0 solid transparent;
}

.text:focus, .message:focus{
    background-color: white;
}

.message{
    height: 8rem;
    resize: none;
}
.formulaire label{
    color: var(--orange);
}

.envoyer{
    float: right;
    background-color: var(--orange);
    border-radius: 0.75rem;
    width: 50%;
    padding: 0.7rem;
    cursor: pointer;
}

.envoyer:hover{
    background-color: var(--orange2);
    color: var(--blanc);
}

.envoyer:active{
    transform: scale(0.9);
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.cont img{
    width: 7rem;
    border-radius: 0.9rem;
}

.reseaux{
    text-align: center;
    width: 50rem;
    padding-top: 4rem;
    font-size: 3rem;
}

.reseaux ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
}

.cont img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.cont img:active{
    transform: scale(0.8);
}

/*** partie responsive ***/

@media screen and (max-width: 1200px) {
    header img{
        height: 7rem;
        margin-left: 2rem;
    }
    header section{
        height: 6rem;
    }
    h1{
        font-size: 3rem;
        margin-top: 1rem;
    }
    
    header ul{
    height: 1.1rem;
    }
    header ul li a{
        font-size: 0.8rem;
    }
    .accueil img{
        width: 20rem;
        object-fit: scale-down;
    }
    h3{
        font-size: 1.5rem;
    }
    .texte{
        font-size: 1rem;
    }
}
@media screen and (max-width: 810px) {
    html, body {
        font-size: 10px;
    }
    h1{
        padding-left: 5%;
    }
    .dev {
        padding-left: 5%;
        }
    .anim{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    html, body {
        font-size: 8px;
    }
    .accueil img{
        width: 100%;
        object-fit: scale-down;
        padding-left: 7rem;
        }
    .accueil{
        padding-right: 6rem;
        padding-left: 2rem;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2.2rem;
    }
    .texte{
        font-size: 2rem;
    }
    header ul li a{
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-size: 1.2rem;
    }
    header ul{
        height: 1.8rem;
        }
        .cont{
            font-size: 1rem;
        }
        .envoyer{
            font-size: 0.9rem;
        }
        .cont{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.5rem;
            align-items: center;
        }
        .reseaux{
            width: 100%;
        }
        .formulaire{
            margin-left: 0;
        }

        .confiance{
            flex-direction: column;
            align-items: center;
        }
        .confiance div{
            width: 80%;
        }
        .qui{
            padding: 8rem 6rem;
        }
        .qui hr{
            padding-bottom: 2rem;
        }
}